[submodule "api"]
	path = api
	url = ../clklog-api.git
[submodule "ui"]
	path = ui
	url = ../clklog-ui.git
[submodule "processing"]
	path = processing
	url = ../clklog-processing.git
[submodule "receiver"]
	path = receiver
	url = ../clklog-receiver.git
[submodule "init"]
	path = init
	url = ../clklog-init
[submodule "manage"]
	path = manage
	url = ../clklog-manage.git
